

<form #createUser="ngForm" >
  <div class="mb-3">
    <label class="form-label">ID</label>
    <input type="number" class="form-control" id="id" name="id">
  </div>
  <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="names" placeholder="Enter Your Name">
    </div>
    <div class="mb-3">
      <label class="form-label">City</label>
      <input type="text" class="form-control" id="city" name="city" placeholder="Enter City" >
    </div>

    <div class="mb-3">
      <label class="form-label">Email address</label>
      <input type="email" class="form-control" id="email"  name="email" placeholder="name@example.com" >
    </div>

    <div class="mb-3">

      <label  class="form-label">Password</label>

      <input type="password" class="form-control" id="Password"  name="Password" placeholder="Password" >
    </div>

    <div class="mb-3">
      <label  class="form-label">Amount</label>
      <input  type="number" class="form-control" id="amount"  name="amount" placeholder="Amount" >
    </div>

</form>