<section *ngIf="checkSection">
  <div class="loader_background" *ngIf="loading">
    <img src="../../assets/img/output-onlinegiftools.gif" />
  </div>
  <hr />

  <form class="form-horizontal inbuilt-form-data" autocomplete="off" #createTenantForm="ngForm" (ngSubmit)="save()">
    <div class=" row px-3 create_heading">
    <h4>Edit MockTest</h4>
    </div>

    <div class="modal-body pt-0">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

        <div class="col form-group required mb-0">
          <label class="col-form-label fw-normal" for="title">
            {{ "Title" | localize }}
          </label>
          <div>
            <input type="text" [(ngModel)]="mockTest.title" class="w-100 form-control" name="title" required
              placeholder="Enter Title">
          </div>
        </div>

        <div class="col form-group required mb-0">
          <label class="col-form-label w-100" for="name">
            {{ "Courses" | localize }}
          </label>
          <div>
            <select [(ngModel)]="mockTest.courseManagementId" [disabled]="butDisabled" class="w-100 form-select"
              name="courseManagement" required placeholder="Select Course">
              <option disabled>Select Course</option>
              <option *ngFor="let item of allCourses" [value]="item.id">
                {{ item.name }}
              </option>
            </select>
          </div>
        </div>

        <div class="col form-group required mb-0">
          <label class="col-form-label fw-normal" for="uploadFile">
            {{ "Upload Instruction" | localize }}
          </label>
          <div class="">
            <div class="input-group ">
              <input (change)="onUpload($event.target.files)" required class=" form-control dlt_input" type="file"
                name="uploadFile" placeholder="Please upload pdf file" accept="application/pdf" />
            </div>
          </div>
        </div>
        <div *ngIf="course.price!=0" class="col form-group required ">
          <div class="form-group row mb-0 px-1">
            <label class="col-form-label pb-0">
              {{ "IsFree" | localize }}
            </label>
            <div class="">
              <div class="custom-control custom-checkbox p-0">
                <input type="checkbox" class="custom-control cstm_chkbox" name="isFree" [(ngModel)]="mockTest.isFree" />
              </div>
            </div>
          </div>

        </div>


        <div class="form-group col-6 mb-0 p-0">
          <label class="col-form-label">
            {{ "isNegativeMarking" | localize }}
          </label>
          <div class="">
            <div class="custom-control custom-checkbox ps-0">
              <input type="checkbox" class="custom-control cstm_chkbox" name="isNegativeMarking"
                [(ngModel)]="mockTest.isNegativeMarking" />
            </div>
          </div>
        </div>


        <div *ngIf="mockTest.isNegativeMarking" class="col form-group required mb-0">
          <label class="col-form-label fw-normal" for="eachQuestionNegativeMarking">
            {{ "Each Question Negative Marks" | localize }}
          </label>
          <div class="">
            <div class="input-group ">
              <input required class=" form-control dlt_input" type="text" name="eachQuestionNegativeMarking"
                placeholder="Please enter each question negative marks"
                [(ngModel)]="mockTest.eachQuestionNegativeMarking" #eachQuestionNegativeMarkingModel="ngModel"
                #eachQuestionNegativeMarkingEl />
              <abp-validation-summary [control]="eachQuestionNegativeMarkingModel"
                [controlEl]="eachQuestionNegativeMarkingEl"></abp-validation-summary>
            </div>
          </div>
        </div>
        <div class="col form-group  mb-0">
          <label class="col-form-label fw-normal" for="eachQuestionNumber">
            {{ "Each Question Marks" | localize }}
          </label>
          <div class="">
            <div class="input-group ">
              <input required class=" form-control dlt_input" type="text" name="eachQuestionNumber"
                placeholder="Please enter each question marks" [(ngModel)]="mockTest.eachQuestionNumber" />
            </div>
          </div>
        </div>
      </div>

      <div class="scrollable-content" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="10"
        [scrollWindow]="true">
        <div *ngIf="questions?.length!=0" class="d-lg-flex d-md-flex justify-content-between align-items-center my-3">
          <div class="">

            <h2 class="mb-0 perview_heading">Selected Questions Preview</h2>
          </div>
          <button *ngIf="questions?.length>0" type="button" (click)="accordionCollapse()" class="create_btn text-white">
            {{isCollapse?'Expand All':'Collapse All'}}
          </button>
        </div>


        <div *ngIf="questions?.length!=0" class="accordion accordion_sec" id="accordion_sec">
          <div *ngFor="let question of question let i = index" class="accordion-item">
            <h2 class="accordion-header position-relative" id="headingOne{{i}}">
              <button *ngIf=" question.questions && question.questions.includes('<math>')"
                [appMath]="'Q'+(i+1)+' '+question.questions" class="accordion-button d-block pe-5" type="button"
                data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseOne' + i" aria-expanded="true"
                aria-controls="collapseOne0">
              </button>
              <button *ngIf="  question.questions && !question.questions?.includes('<math>')"
                [innerHTML]="'Q'+(i+1)+' '+question.questions" class="accordion-button d-block pe-5" type="button"
                data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseOne' + i" aria-expanded="true"
                aria-controls="collapseOne0">
              </button>
              <button type="button" (click)="editPreviewedQuestion(i)"
                class=" btn edit-icons radius-10 d-block d-flex justify-content-center align-items-center  p-2 mx-2 position-absolute">
                <img src="../../assets/img/table_edit_image.png" class="img-fluid table_edit_image">

              </button>
            </h2>

            <div id="collapseOne{{i}}" [ngClass]="isCollapse?'':'show'" class="accordion-collapse collapse px-3"
              aria-labelledby="headingOne{{i}}" data-bs-parent="#accordion_sec">
              <div class="accordion-body px-0">
                <div class="row">
                  <div class="col-md-3 col-12 mb-lg-0 mb-md-0 mb-2">
                    <div class="answer-box">
                      <div class="form-check d-flex align-items-center">
                        <input [checked]="question.answer=='a'" class="form-check-input mt-0" type="radio"
                          name="flexRadioDefault1{{i}}" id="flexRadioDefault1{{i}}">
                        <label *ngIf=" question.option1 && question.option1.includes('<math>')"
                          class="form-check-label d-block" [appMath]="question.option1" for="flexRadioDefault1{{i}}">
                        </label>
                        <label *ngIf="  question.option1 &&!question.option1.includes('<math>')"
                          class="form-check-label d-block" [innerHTML]="question.option1" for="flexRadioDefault1{{i}}">
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 col-12 mb-lg-0 mb-md-0 mb-2">
                    <div class="answer-box">
                      <div class="form-check d-flex align-items-center">
                        <input [checked]="question.answer=='b'" class="form-check-input mt-0" type="radio"
                          name="flexRadioDefault1{{i}}" id="flexRadioDefault1{{i}}">
                        <label *ngIf="  question.option2 && question.option2.includes('<math>')"
                          [appMath]="question.option2" class="form-check-label d-block" for="flexRadioDefault1{{i}}">
                        </label>
                        <label *ngIf=" question.option2 && !question.option2.includes('<math>')"
                          [innerHTML]="question.option2" class="form-check-label d-block" for="flexRadioDefault1{{i}}">
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 col-12 mb-lg-0 mb-md-0 mb-2">
                    <div class="answer-box">
                      <div class="form-check d-flex align-items-center">
                        <input [checked]="question.answer=='c'" class="form-check-input mt-0" type="radio"
                          name="flexRadioDefault1{{i}}" id="flexRadioDefault1{{i}}">
                        <label *ngIf=" question.option3 && question.option3.includes('<math>')"
                          [appMath]="question.option3" class="form-check-label d-block" for="flexRadioDefault1{{i}}">
                        </label>
                        <label *ngIf="  question.option3 && !question.option3.includes('<math>')"
                          [innerHTML]="question.option3" class="form-check-label d-block" for="flexRadioDefault1{{i}}">
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 col-12 mb-lg-0 mb-md-0 mb-2">
                    <div class="answer-box">
                      <div class="form-check d-flex align-items-center">
                        <input [checked]="question.answer=='d'" class="form-check-input mt-0" type="radio"
                          name="flexRadioDefault1{{i}}" id="flexRadioDefault1{{i}}">
                        <label *ngIf="  question.option4 && question.option4.includes('<math>')"
                          [appMath]="question.option4" id="option-4-{{i}}" class="form-check-label d-block"
                          for="flexRadioDefault1{{i}}">
                        </label>
                        <label *ngIf="  question.option4 && !question.option4.includes('<math>')"
                          [innerHTML]="question.option4" id="option-4-{{i}}" class="form-check-label d-block"
                          for="flexRadioDefault1{{i}}">
                        </label>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="question.option5" class="col-md-3 col-12 mb-lg-0 mb-md-0 mb-2">
                    <div class="answer-box">
                      <div class="form-check d-flex align-items-center">
                        <input [checked]="question.answer=='e'" class="form-check-input mt-0" type="radio"
                          name="flexRadioDefault1{{i}}" id="flexRadioDefault1{{i}}">
                        <label *ngIf="question.option5.includes('<math>')" [appMath]="question.option5"
                          class="form-check-label  d-block" for="flexRadioDefault1{{i}}">
                        </label>
                        <label *ngIf="!question.option5.includes('<math>')" [innerHTML]="question.option5"
                          class="form-check-label  d-block" for="flexRadioDefault1{{i}}">
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="answer-box">
                <div class="qa-heading fw-bold pb-3 d-block">Solution:-</div>
                <p *ngFor="let sol of question.explanations.split('       ')" class="solution-size">
                  <span *ngIf="sol.includes('<math>')" [appMath]="sol"></span>
                  <span *ngIf="!sol.includes('<math>')" [innerHTML]="sol"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div *ngIf="!(sum==question.length) && !isQuestionLoading" class="d-flex justify-content-center">
      <button class="create_btn" [disable]="isQuestionLoading==true?true:false" (click)="onScrollDown()">
        Load More
      </button>
    </div>
   
    <abp-modal-footer [saveDisabled]="
                  !createTenantForm.form.valid 
                " (onCancelClick)="cancel()">
    </abp-modal-footer>
  </form>
</section>


<section *ngIf="!checkSection">
  <hr>
  <div class="row px-3 create_heading">
    <h4>Edit Questions</h4>
  </div>
  <div class="modal-body pt-0">
    <div class="table_bck">
      <div class="row">
        <div class="col-md-12 form-group required px-0">
          <label class="col-form-label fw-normal w-100" for="questions">
            {{ "Question" | localize }}
          </label>
          <div>
            <input type="text" class="form-control" placeholder="Question" name="questions" id="questions" required
              [(ngModel)]="previewedQuestion.questions" #questionsModel="ngModel" #questionsEl />
            <abp-validation-summary [control]="questionsModel" [controlEl]="questionsEl"></abp-validation-summary>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 form-group required">
          <label class="col-form-label fw-normal w-100" for="option1">
            {{ "Option 1" | localize }}
          </label>
          <div>
            <input type="text" class="form-control" placeholder="Option 1" name="option1" id="option1" required
              [(ngModel)]="previewedQuestion.option1" #option1Model="ngModel" #option1El />
            <abp-validation-summary [control]="option1Model" [controlEl]="option1El"></abp-validation-summary>
          </div>
        </div>
        <div class="col-md-2 form-group required">
          <label class="col-form-label fw-normal w-100" for="option2">
            {{ "Option 2" | localize }}
          </label>
          <div>
            <input type="text" class="form-control" placeholder="Option 2" name="option2" id="option2" required
              [(ngModel)]="previewedQuestion.option2" #option2Model="ngModel" #option2El />
            <abp-validation-summary [control]="option2Model" [controlEl]="option2El"></abp-validation-summary>
          </div>
        </div>
        <div class="col-md-2 form-group required">
          <label class="col-form-label fw-normal w-100" for="option3">
            {{ "Option 3" | localize }}
          </label>
          <div>
            <input type="text" class="form-control" placeholder="Option 3" name="option3" id="option3" required
              [(ngModel)]="previewedQuestion.option3" #option3Model="ngModel" #option3El />
            <abp-validation-summary [control]="option3Model" [controlEl]="option3El"></abp-validation-summary>
          </div>
        </div>
        <div class="col-md-2 form-group required">
          <label class="col-form-label fw-normal w-100" for="option4">
            {{ "Option 4" | localize }}
          </label>
          <div>
            <input type="text" class="form-control" placeholder="Option 4" name="option4" id="option4" required
              [(ngModel)]="previewedQuestion.option4" #option4Model="ngModel" #option4El />
            <abp-validation-summary [control]="option4Model" [controlEl]="option4El"></abp-validation-summary>
          </div>
        </div>
        <div *ngIf="previewedQuestion.option5 || previewedQuestion.option5 ==''" class="col-md-2 form-group required">
          <label class="col-form-label fw-normal w-100" for="option5">
            {{ "Option 5" | localize }}
          </label>
          <div>
            <input type="text" class="form-control" placeholder="Option 5" name="option5" id="option5" required
              [(ngModel)]="previewedQuestion.option5" #option5Model="ngModel" #option5El />
            <abp-validation-summary [control]="option5Model" [controlEl]="option5El"></abp-validation-summary>
          </div>
        </div>
        <div class="col-md-2 form-group required">
          <label class="col-form-label fw-normal w-100" for="answer">
            {{ "Answer" | localize }}
          </label>
          <div>
            <input type="text" class="form-control" placeholder="Answer" name="answer" id="answer" pattern="[a-e]{1}"
              required [(ngModel)]="previewedQuestion.answer" #answerModel="ngModel" #answerEl />
            <abp-validation-summary [control]="answerModel" [controlEl]="answerEl"></abp-validation-summary>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group required position-relative">
            <label class="col-form-label fw-normal" for="explanations">
              {{ "Explanations" | localize }}
            </label>
            <div>
              <input type="text" class="form-control" placeholder="Explanations" name="explanations" id="explanations"
                required [(ngModel)]="previewedQuestion.explanations" #explanationsModel="ngModel" #explanationsEl />
              <abp-validation-summary [control]="explanationsModel"
                [controlEl]="explanationsEl"></abp-validation-summary>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer justify-content-lg-end justify-content-md-end justify-content-center bg-transparent">

      <button type="button" class="btn btn-default cancel_button py-1" (click)="cancelEditQuestion(questionIndex)">
        Cancel </button>
      <button class="create_btn text-white" (click)="saveQuestion()">Update Question</button>
    </div>
  </div>

</section>