<form class="form-horizontal" autocomplete="off" #createTenantForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'Create Course' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body px-lg-5 px-md-3 px-sm-2 pt-3 pb-0 ftt">
    <div class="row justify-content-around">
      <div class="col-md-6 form-group required mb-2">
        <label class="col-form-label fw-normal  w-100" for="name">
          {{ "Course Title" | localize }}
        </label>
        <div>
          <input type="text" required class="form-control" placeholder="Course Title" name="name" id="name" pattern="\S(.*\S)?"
            [(ngModel)]="course.name" #nameModel="ngModel" #nameEl />
          <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
        </div>
      </div>

      <div class="col-md-6 form-group required mb-2">
        <label class="col-form-label fw-normal  w-100" for="category">
          {{ "Category" | localize }}
        </label>
        <div>
          <div class="position-relative">
            <p-treeSelect [(ngModel)]="selectedCategory" (onNodeSelect)="setCategory($event)" [options]="treeData"
              name="categoryId" placeholder="Select Category" #categoryModel="ngModel" #categoryEl required>
            </p-treeSelect>
          
          </div>
          <abp-validation-summary [control]="categoryModel" [controlEl]="categoryEl"></abp-validation-summary>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6 form-group mb-2 required">
        <label class="col-form-label fw-normal  w-100" for="imagePath">
          {{ "Image" | localize }}
        </label>
        <div>
          <div>
            <div class="popup_img_bck" *ngIf="course.imagePath != ''">
              <img [src]="course.imagePath" class="h-100 w-100" alt="user image" />
              <span class="cross-icon bg-danger text-white position-absolute curser_pointer rounded-circle"
                (click)="course.imagePath = ''">X</span>
            </div>
            <input required type="file" class="form-control" name="imagePath" id="imagePath" maxlength="128"
              *ngIf="course.imagePath == ''" (change)="onUpload($event.target.files)" />
          </div>
        </div>
        <div *ngIf="isImageUpladedStatus == 'start'" class="progress-bar__container">
          <div [ngClass]="isImageUpladedStatus == 'end' ? 'pb-full' : ''" class="progress-bar"></div>
        </div>
      </div>

      <div class="col-md-6 form-group required mb-2">
        <label class="col-form-label fw-normal  w-100" for="price">
          {{ "Price" | localize }}
        </label>
        <div>
          <input type="number" required class="form-control" placeholder="Price.." name="price" id="price" required
            [(ngModel)]="course.price" #priceModel="ngModel" #priceEl />
          <abp-validation-summary [control]="priceModel" [controlEl]="priceEl"></abp-validation-summary>
        </div>
      </div>
      <div class="col-md-6 form-group required mb-2">
        <label class="col-form-label fw-normal  w-100" for="validateDuration">
          {{ "Validate Upto" | localize }}
        </label>
        <div>
          <select [(ngModel)]="course.validateDuration" class="w-100 form-select" name="validateDuration" required
            placeholder="Select validate Type" #validateDurationModel="ngModel" #validateDurationEl>
            <option value="" disabled selected>Select Course validate Duration</option>
            <option value="6 months">6 Months</option>
            <option value="1 year">1 year</option>
            <option value="1.5 years">1.5 years</option>
            <option value="2 years">2 years</option>
            <option value="Unlimited">Unlimited</option>
          </select>
          <abp-validation-summary [control]="validateDurationModel" [controlEl]="validateDurationEl"></abp-validation-summary>
        </div>
      </div>
      <div class="col-md-6 form-group required mb-2">
        <label class="col-form-label fw-normal  w-100" for="type">
          {{ "Type" | localize }}
        </label>
        <div>
          <select [(ngModel)]="course.type" class="w-100 form-select" name="type" required
            placeholder="Select Course Type" #typeModel="ngModel" #typeEl>
            <option value="" disabled selected>Select Course Type</option>
            <option value="Hybrid">Hybrid</option>
            <option value="Video">Video</option>
            <option value="Mock">Mock</option>
          </select>
          <abp-validation-summary [control]="typeModel" [controlEl]="typeEl"></abp-validation-summary>
        </div>
      </div>

      <div class="col-md-6 form-group">
        <label class="col-form-label fw-normal  w-100" for="emailAddress">
          {{ "Assigned to Student" | localize }}
        </label>
          <div class="position-relative">

          <ng-multiselect-dropdown (onSelectAll)="onSelectAll()" (onSelect)="getAllStudents()"
            (onDeSelect)="onDeSelectItem()" (onDeSelectAll)="onUnSelectAll()" class="w-100 form-select multi-custom-arrow p-0"
            name="selectedStudent" id="emailAddress" [data]="allStudName" [(ngModel)]="selectedStudent"
            [settings]="dropdownSetting" >
          </ng-multiselect-dropdown>
        
        </div>
      </div>
    </div>


    <div class="row justify-content-around px-0">
      <div class="col-md-12 form-group mb-0 mb-2">
        <label class="col-form-label fw-normal  w-100" for="detail">
          {{ "Details" | localize }}
        </label>
        <div>
          <textarea name="detail" placeholder="Details" class="form-control" id="detail" cols="30" rows="5"
            minlength="2" [(ngModel)]="course.detail" #detailModel="ngModel" #detailEl ></textarea>
          <abp-validation-summary [control]="detailModel" [controlEl]="detailEl"></abp-validation-summary>
        </div>
      </div>
    </div>


  </div>

  <abp-modal-footer [saveDisabled]="!createTenantForm.form.valid" (onCancelClick)="bsModalRef.hide()">
  </abp-modal-footer>
</form>