
<hr />
<form class="form-horizontal inbuilt-form-data" autocomplete="off" #createTenantForm="ngForm" (ngSubmit)="save()">
  <div class="row px-3 create_heading">
    <h4>Edit syllabus</h4>
  </div>

  <div class="modal-body pt-0">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <div class="col form-group required mb-0">
        <label class="col-form-label fw-normal  w-100" for="categoryId">
          {{ "Category" | localize }}
        </label>
        <div class="position-relative">
        <div *ngIf="treeData.length != 0">
          <p-treeSelect [(ngModel)]="selectedCategory" (onNodeSelect)="setCategory($event.node.id)" [options]="treeData"
            name="categoryId" [placeholder]="placeholder"></p-treeSelect>
        </div>
        <i class="fas fa-angle-down position-absolute customeup-down"></i>
      </div>
        <div *ngIf="treeData.length == 0">
          <select>
            <option disabled>No Result Found</option>
          </select>
        </div>
      </div>
      <div class="col form-group required mb-0">
        <label class="col-form-label fw-normal  w-100" for="name">
          {{ "Course" | localize }}
        </label>
        <div>
         
          <select [(ngModel)]="syllabus.courseManagementId" class="w-100 form-control" class="form-select" name="name"
            placeholder="Select Course">
            <option disabled value="-1">--Select Course--</option>
            <option *ngFor="let data of allCourses" [value]="data.id">
              {{ data.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="col form-group required mb-0">
        <label class="col-form-label fw-normal  w-100" for="subjectName">
          {{ "Subject" | localize }}
        </label>
        <div>
          <select [(ngModel)]="syllabus.subjectId" class="w-100 form-control" class="form-select"
            (change)="getAllTopics($event.target.value, 'html')" name="subjectName" required
            placeholder="Select Subject">
            <option disabled>Select Subject</option>
            <option *ngFor="let item of allSubjectItems" [value]="item.id">
              {{ item.subjectName }}
            </option>
          </select>
        </div>
      </div>

      <div class="col form-group mb-0">
        <label class="col-form-label fw-normal  w-100" for="title">
          {{ "Topics" | localize }}
        </label>
          <div class="position-relative">
          <ng-multiselect-dropdown class="multiselect_button"  name="selectedTopics" id="topics"
            [placeholder]="'Selected Topics'" [settings]="dropdownSettings" [data]="allTopics"
            [(ngModel)]="selectedTopics">
          </ng-multiselect-dropdown>
          <i class="fas fa-angle-down position-absolute customeup-down"></i>
          </div>
      </div>

      <div class="col form-group required mb-0">
        <label class="col-form-label fw-normal  w-100" for="level">
          {{ "Level" | localize }}
        </label>
        <div>
          <select [(ngModel)]="syllabus.level" class="w-100 form-control" class="form-select" name="level" required
            #levelModel="ngModel" #levelEl placeholder="Select level">
            <option disabled value="" selected>Select Level</option>
            <option value="Level1">Level1</option>
            <option value="Level2">Level2</option>
            <option value="Level3">Level3</option>
          </select>
          <abp-validation-summary [control]="levelModel" [controlEl]="levelEl"></abp-validation-summary>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 form-group mb-0">
        <label class="col-form-label fw-normal  w-100" for="detail">
          {{ "Details" | localize }}
        </label>
        <div>
          <textarea class="form-control" name="detail" id="detail" cols="30" rows="5" [(ngModel)]="syllabus.detail"
            #detailModel="ngModel" #detailEl></textarea>
          <abp-validation-summary [control]="detailModel" [controlEl]="detailEl"></abp-validation-summary>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-footer [saveDisabled]="!createTenantForm.form.valid" (onCancelClick)="cancel()">
  </abp-modal-footer>
</form>