$primary: #319EAE;
$light-gray: #DBDBDB;

.main-y-scroll {
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 10px;

    &::-webkit-scrollbar {
        width: 7px;
        height: 9px;
    }

    &::-webkit-scrollbar-track {
        background-color: $light-gray;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary;
        outline: none;
    }

    .card-bg {
        border: 1px solid #E8E8E8;
        border-radius: 10px;
    }

    .show-less {
        height: 4rem;
        overflow: hidden;
        padding: 1rem;
    }
}

.current_bck {
    border: 1px solid #e5e5e5;
    border-radius: 12px;

    .img_bckgrnd {
        max-width: 98px !important;
        height: 100px !important;
background-color: #ddd9;
border-radius: 3px;
        img {
            width: 100% !important;
            height: 100% !important;
            object-fit: contain;
            border-radius: 8px;
        }
    }

    .current_text {
        h6{
            color: #9f9f9f;
        }
        .sb_heading {
            font-size: 12px;
            font-weight: 500;
        }

        .discription {
            font-size: 12px;
            max-height: 44px;
            overflow-y: scroll;
        }
    }

    .read_more {
        color: #62a363;
        font-size: 10px;
    }

    .read_less {
        color: $primary;
    }
}

.student_cancel_btn {
    font-size: 12px;
    color: #343434;
    border: 1px solid #ddd;
    padding: 7px 21px;

    &:hover {
        background-color: #ddd;
    }
}

::ng-deep.crd_heading span {
    font-size: 18px ;
}