$primary: #319EAE;
$light-black: #262626;
$light-gray: #5E5E5E;
$light-border: #E9E9E9;
$red: #D94646;
$yellow: #DA9F2C;
$white: #ffffff;
$green: #63A461;

// @import "../../../styles.scss";

.sidebar-hide-mock .main-sidebar {
    display: none;
}
.sidebar-hide-mock .mock-test-heading{
padding-left: 20px;
}
.sidebar-hide-mock .custom-witdh-contetntWraper {
    margin-left: 0 !important;
}
.sidebar-hide-mock .toggle-hide {
    display: none;
}
.correct_option{
    position: absolute;
    z-index: 99;
    top: 11px;
    img{
        width: 23px;
    }
}
.correct_option-2{
    img{
        width: 23px;
    }
}
.bg-colour{
    background-color: #8c20d5 !important;
    color: white !important;
    &:hover{
        background-color: #8c20d5;
    }
}

.custome_height {
    max-height: calc(100vh - 27rem);
    overflow-y: auto;
}
.custome_height1 {
    max-height: calc(100vh - 25rem);
    overflow-y: auto;
}


.mock_qus {
    .question_bck {

        border: 1px solid #EFEFEF;
        border-radius: 16px;

        .question {
            color: $light-black;
            font-size: 16px;
            font-weight: 500;
        }

        .mock_single_qus {
            list-style: none;

            li {
                padding: 15px 10px;

                .question_option {
                    color: $light-gray;
                    font-size: 13px;
                    font-weight: 500;
                     cursor: pointer;
                }
            }

        }


        .explation_box {
            border: 1px dashed #C9C17F;
            border-radius: 11px;

            .explation_heading {
                font-size: 20px;
                font-weight: 500;
            }

            .explation_pera {
                font-size: 15px;
                color: $light-gray;
                line-height: 28px;
            }
        }

        .bottm_btns {
            .border_btn {
                border: 1px solid $light-border;
                color: $light-gray;
                font-size: 12px;
                font-weight: 500;
                border-radius: 4px;
                padding: 7px 30px;
                border-radius: 4px;
            }

            .btn_nxt {
                background-color: $primary;
                font-size: 12px;
                font-weight: 500;
                border-radius: 4px;
                padding: 7px 30px;
            }

        }

        .rounded_text {
            list-style: none;

            p {
                color: $light-gray;
                font-size: 12px;

                .rounded_clr {
                    padding: 1px 10px;
                }

                .blue {
                    background-color: $green;
                }

                .blank {
                    border: 1px solid #ddd;
                }

                .red {
                    background-color: #D94646;
                }

                .yellow {
                    background-color: #8c20d5;
                }
                .skip{
                    background-color: #D94646;
                }
                .answer{
                    background-color: #319EAE ;
                }
            }
        }
    }

    .quant_bck {
        border: 1px solid #EFEFEF;
        border-radius: 16px;

        .quant_header {
            background-color: $primary;
            border-radius: 16px 16px 0px 0px;

            h3 {
                font-size: 20px;
                font-weight: 500;
            }
        }

        .quant_numbers {
            .quant_num {
                border: 1px solid $light-border;
                color: $light-gray;
                border-radius: 4px;
                font-size: 12px;
                padding: 8px 16px;
                font-weight: 600;
            }

            .bg-yellow {
                background-color: $yellow !important;
                color: $white !important;
            }

            .bg-skyblue {
                background-color: $primary !important;
                color: $white !important;
            }

            .bg-red {
                background-color: $red !important;
                color: $white !important;
            }
        }

        .quant_footer {
            bottom: 0;
            background-color: #F6FFFE;
            border-top: 1px 1px solid $light-border;

            h2 {
                font-size: 22px;
                font-weight: 600;
            }
        }
    }
}

.solution-size {
    font-size: 15px;
    line-height: 18px;
}

.form-check-input.true:checked {
    background-color: #319EAE !important;
    border-color: #319EAE !important;
}
.form-check-input:checked {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}
.form-check-input.wrong:checked {
    background-color: red !important;
    border-color: red !important;
}


.mock_tab {
    border-bottom: 2px solid #ededed;

    .menu_mock_link {
        padding: 15px 27px;
        font-size: 15px;
        cursor: pointer;
    }

    .active {
        background-color: #349fa9;
        // padding: 15px 27px;
        color: white;
        border-radius: 6px 6px 0px 0px;
    }
}
.mock_numbers.active{
    background-color: $primary;
}
.mock_numbers.bg-successs{
    background-color: $green;
    color:white !important;
}

@media screen and (max-width:767px) {
    .mock_qus {
        .quant_numbers {
            margin-bottom: 76px;
        }
    }
}