<section class="signin h-100">
  <div class="container-fluid h-100">

    <div class="row justify-content-center align-items-center p-4 h-100">
      <div class="col-lg-6 col-12 h-lg-100">
        <div class="signin-form text-align-left h-lg-100 d-flex align-items-center">
          <form class="text-align-left" novalidate autocomplete="off" #loginForm="ngForm" (ngSubmit)="login()">
            <div class="text-center brand-logo mb-lg-3 mb-3">
              <img class="text-center" src="../../assets/img/logo-light.png" alt="logo" />
            </div>
            <h1 class="text-center main_heading text-dark">
              Welcome to Teacher’s Vision
            </h1>

            <div class="w-100">
              <label for="exampleInputEmail1" class="form-label fw-normal">Enter your email</label>
              <input type="email" class="form-control input-area mt-2 px-3 py-2" placeholder="Sahil.thakur@gmail.com"
                name="userNameOrEmailAddress" [(ngModel)]="
                  authService.authenticateModel.userNameOrEmailAddress
                " [placeholder]="'Email or Phone Number' | localize" required maxlength="256"
                #userNameOrEmailAddressModel="ngModel" #userNameOrEmailAddressEl />
              <abp-validation-summary [control]="userNameOrEmailAddressModel" [controlEl]="userNameOrEmailAddressEl">
              </abp-validation-summary>
            </div>
            <div class="mb-3 w-100 mt-3">
              <label for="exampleInputPassword1" class="form-label fw-normal">Password</label>
              <div class="form-group position-relative">
                <input [type]="showpassword ?  'password':'text' "
                  class="form-control input-area mt-2 px-3 py-2 bg-white" [placeholder]="'Password'|localize"
                  name="password" [(ngModel)]="authService.authenticateModel.password"
                  [placeholder]="'Password' | localize" required maxlength="32" #passwordModel="ngModel" #passwordEl />
                <span style="cursor: pointer;" (click)="showHidePswrd()" class="show-pass"><i
                    class="{{ showpassword ? 'fas fa-eye-slash' : 'fas fa-eye'}} position-absolute eyehide_icon"></i></span>

              </div>
              <abp-validation-summary [control]="passwordModel" [controlEl]="passwordEl"></abp-validation-summary>
            </div>

            <div class="mb-lg-3 mt-lg-3 mb-4 mt-3">
              <a class="green-color text-fs-sm custom-fw mb-1" [routerLink]="['../forgot-password']">
                Forgot Password?
              </a>
            </div>

            <button [disabled]="!loginForm.form.valid" class="w-100 custom-fw btn px-4 custom-primary text-white mb-lg-0 mb-md-0 mb-3 texted"
              type="submit">
              Sign in <i class="bi bi-arrow-right ms-2"></i>
            </button>
            <p class="text-fs-sm my-3 text-center">
              Don’t have an account yet ?
              <a href="" class="green-color custom-fw" [routerLink]="['../register']">Sign Up</a>
            </p>
          </form>

        </div>
      </div>
      
      <div class="col-lg-6 col-12 h-100 p-0">
        <div class="signin-slider d-flex align-items-center">
          <div class="inner-slider-bg border border-white m-2 ">
            <div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators align-items-center justify-content-start">
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" class="mx-2" data-bs-target="#carouselCaptions" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner h-100">
                <div class="carousel-item active h-100">
                  <div class="px-lg-4 pt-lg-4 px-3 pt-3">
                    <h1 class="text-white slide_text">
                      Learning is not attained by chance, it must be sought for
                      with <span class="bold_text">ARDOR AND ATTENDED</span> to
                      with diligence.
                    </h1>
                  </div>
                  <img src="../../assets/img/login-slide1.png" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item h-100">
                  <div class="px-lg-4 pt-lg-4 px-3 pt-3">
                    <h1 class="text-white slide_text">
                      Learning is not attained by chance, it must be sought for
                      with <span class="bold_text">ARDOR AND ATTENDED</span> to
                      with diligence.
                    </h1>
                  </div>
                  <img src="../../assets/img/login-slide1.png" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item h-100">
                  <div class="px-lg-4 pt-lg-4 px-3 pt-3">
                    <h1 class="text-white slide_text">
                      Learning is not attained by chance, it must be sought for
                      with <span class="bold_text">ARDOR AND ATTENDED</span> to
                      with diligence.
                    </h1>
                  </div>
                  <img src="../../assets/img/login-slide1.png" class="d-block w-100" alt="..." />
                </div>
              </div>
            </div>
          </div>
        </div>

        <p class="px-lg-5 copy_right position-absolute mt-lg-0 mt-3 text-lg-start text-center d-lg-none d-md-none d-block">
          &copy; 2022 Teacher’s Vision. All Rights Reserved
        </p>
      </div>

      <!-- <p class="px-lg-5 copy_right position-absolute mt-lg-0 mt-3 text-lg-start d-lg-block d-md-block d-none">
        &copy; 2022 Teacher’s Vision. All Rights Reserved
      </p> -->
    </div>
  </div>
</section>