
$primary: #319EAE;
$light-gray: #DBDBDB;

.main-y-scroll{
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 10px;
    
    &::-webkit-scrollbar {
        width: 7px;
        height: 9px;
    }

    &::-webkit-scrollbar-track {
        background-color: $light-gray;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary;
        outline: none;
    }

    .card-bg {
        border: 1px solid #E8E8E8;
        border-radius: 10px;
    }
}
.heading-15{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.play_btn{
    background-color: #62a363;
    border-radius: 50px;
    padding: 12px 12px 12px 15px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    // &:hover .black_back{
    //         background-color: #00000005;
    // }
}
.video_bck{
    max-width: 100%;
    height: 78%;
    border-radius: 10px;
    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

.student_cancel_btn{
    font-size: 12px;
    color: #343434;
    border: 1px solid #ddd;
    padding: 7px 21px;
    &:hover{
        background-color: #ddd;
    }
}