<form class="form-horizontal" autocomplete="off" #createTenantForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'Edit Topic' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body px-lg-5 px-md-3 px-sm-2 pt-3 pb-0">
    <div class="form-group row required  mb-2">
      <label class="col-md-3 col-form-label" for="subjectName">
        {{ "Subject" | localize }}
      </label>
      <div class="col-md-9">
        <select [(ngModel)]="multitopic.subjectId" class="w-100 form-select" name="subjectName" [disabled]="isDisabled"
          placeholder="Select Subject" required>
          <option>Select Subject</option>
          <option *ngFor="let item of allSubjectItems" [value]="item.id">
            {{item.subjectName}}
          </option>
        </select>
      </div>
    </div>

    <div *ngFor="let data of multitopic.topics; let i = index" class="form-group row mb-2">
      <label class="col-md-3 col-form-label" for="title{{i}}">
        {{ "Topic Name" | localize }}
      </label>
      <div class="col-md-9">
        <div class="input-group ">
          <input [(ngModel)]="data.title" (blur)='trimStart(data)' [ngModelOptions]="{standalone: true}"
            class=" form-control dlt_input" id="title{{i}}" type="text" placeholder="Enter Topic Name">

          <span *ngIf="(multitopic.topics.length==i+1)" class="input-group-text icon_area curser_pointer" (click)="add();"
            id="basic-addon1"><i class="fa-sharp fa-solid fa-circle-plus px-1"></i></span>
          <span *ngIf="!(multitopic.topics.length==i+1)" class="input-group-text bg-danger border border-danger curser_pointer"
            (click)="delTopic(i);" id="basic-addon1"><i class="fa-sharp fa-solid fas fa-trash px-1"></i></span>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-footer [saveDisabled]="createTenantForm.form.valid" (onCancelClick)="bsModalRef.hide()">
  </abp-modal-footer>
</form>