<li>
  <div
    class="notification-bar bg-white radius-10  border-0 notification_background d-flex justify-content-center  align-items-center">
    <a (click)="notification()">
      <i class="fa-regular fa-bell"></i>
    </a>
  </div>
</li>

<li class="nav-item dropdown nav-user-menu" dropdown>
  <a href="javascript:;" class="nav-link px-lg-3 px-md-3 px-0" dropdownToggle>
    <span class="header-profile-img d-inline-block">
      <img *ngIf="pic != ''" class="w-100 h-100" [src]="pic" alt="..." />
      <img *ngIf="user.pofileImage  == ''" src="../../../../assets/img/ssc.svg" class="w-100 h-100" alt="..." />
    </span>
    <span class="text-fs-sm custom-fw ps-2">{{userDetails.name}} <i class="bi bi-chevron-down"></i></span>
  </a>

  <div class="dropdown-menu loged-in-user-menu dropdown-menu-right border-0 py-2" style="border-radius: 10px;"
    *dropdownMenu>
    <a class="dropdown-item" href="javascript:;" (click)="myprofile()">
      <i class="fas fa-user me-2"></i> {{ "My Profile" | localize }}
    </a>
    <!-- <a class="dropdown-item" href="javascript:;" (click)="UpdateDialog()">
      <i class="fas fa-edit me-2"></i> {{ "UpdatePassword" | localize }}
    </a> -->
    <a class="dropdown-item fs-14 weight-400 py-2" (click)="UpdateDialog(userDetails.id)">
      <i class="bi bi-key me-2"></i> {{ "Update Password" | localize }}
    </a>
    <a class="dropdown-item" href="javascript:;" (click)="logout()">
      <i class="fas fa-sign-out-alt me-2"></i> {{ "Logout" | localize }}
    </a>
  </div>
</li>