.tittle_header {
    position: relative !important;
    margin-top: -70px !important;
    padding: 0px 18px;
    z-index: 9999;
    width: 50%;
    margin-left: 35px;
}
.close_btn{
    font-size: 17px;
}