<hr>

<form class="form-horizontal inbuilt-form-data" autocomplete="off" #createTenantForm="ngForm" (ngSubmit)="save()">
  <div class="row px-3 create_heading">
    <h4>Edit Questions</h4>
  </div>

  <div class="modal-body pt-0">
    <div class="table_bck">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

        <div class="col form-group required mb-0">
          <label class="col-form-label w-100" for="courseManagementId">
            {{ "Course" | localize }}
          </label>
          <div>
            <select [(ngModel)]="question.courseManagementId" class="w-100 form-select curser_pointer" name="courseManagementId"
              id="courseManagementId" placeholder="Select Course">
              <option disabled>Select Course</option>
              <option *ngFor="let item of allCourses" [value]="item.id">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="col form-group required mb-0">
          <label class="col-form-label w-100" for="subjectId">
            {{ "Subject" | localize }}
          </label>
          <div>
            <div>
              <select [(ngModel)]="question.subjectId" (change)="getAllTopics($event)" name="subjectId" class="w-100 form-select curser_pointer" (change)="getAllTopics($event)"  required
              placeholder="Select Subject">
              <option value="-1">Select Subject</option>
              <option *ngFor="let item of allSubjectItems" [value]="item.id">
                {{item.subjectName}}
              </option>
            </select>
            </div>
          </div>
        </div>

        <div class="col form-group mb-0 ">
          <label class="col-form-label" for="topicsId">
            {{ "Topic" | localize }}
          </label>
          <div>
            <div class="position-relative">
            <ng-multiselect-dropdown name="selectedTopics" id="topics" [placeholder]="' Select Topics'"
              [data]="allTopics" [(ngModel)]="selectedTopics" [settings]="dropdownSettings">
            </ng-multiselect-dropdown>
            <i class="fas fa-angle-down position-absolute customeup-down"></i>
            </div>
          </div>
        </div>

      </div>

    
      <div class="col-md-12 form-group required px-0">
        <label class="col-form-label fw-normal w-100" for="questions">
          {{ "Question" | localize }}
        </label>
        <div>
          <input type="text" class="form-control" placeholder="Question" name="questions" id="questions" required
            [(ngModel)]="question.questions" #questionsModel="ngModel" #questionsEl />
          <abp-validation-summary [control]="questionsModel" [controlEl]="questionsEl"></abp-validation-summary>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group required">
          <label class="col-form-label fw-normal w-100" for="option1">
            {{ "Option 1" | localize }}
          </label>
          <div>
            <input type="text" class="form-control" placeholder="Option 1" name="option1" id="option1" maxlength="128"
              required [(ngModel)]="question.option1" #option1Model="ngModel" #option1El />
            <abp-validation-summary [control]="option1Model" [controlEl]="option1El"></abp-validation-summary>
          </div>
        </div>
        <div class="col-md-4 form-group required">
          <label class="col-form-label fw-normal w-100" for="option2">
            {{ "Option 2" | localize }}
          </label>
          <div>
            <input type="text" class="form-control" placeholder="Option 2" name="option2" id="option2" maxlength="128"
              required [(ngModel)]="question.option2" #option2Model="ngModel" #option2El />
            <abp-validation-summary [control]="option2Model" [controlEl]="option2El"></abp-validation-summary>
          </div>
        </div>
        <div class="col-md-4 form-group required">
          <label class="col-form-label fw-normal w-100" for="option3">
            {{ "Option 3" | localize }}
          </label>
          <div>
            <input type="text" class="form-control" placeholder="Option 3" name="option3" id="option3" maxlength="128"
              required [(ngModel)]="question.option3" #option3Model="ngModel" #option3El />
            <abp-validation-summary [control]="option3Model" [controlEl]="option3El"></abp-validation-summary>
          </div>
        </div>
        <div class="col-md-4 form-group required">
          <label class="col-form-label fw-normal w-100" for="option4">
            {{ "Option 4" | localize }}
          </label>
          <div>
            <input type="text" class="form-control" placeholder="Option 4" name="option4" id="option4" maxlength="128"
              required [(ngModel)]="question.option4" #option4Model="ngModel" #option4El />
            <abp-validation-summary [control]="option4Model" [controlEl]="option4El"></abp-validation-summary>
          </div>
        </div>
 
        <div class="col-md-4 form-group required">
          <label class="col-form-label fw-normal w-100" for="option5">
            {{ "Option 5" | localize }}
          </label>
          <div>
            <input type="text" class="form-control" placeholder="Option 5" name="option5" id="option5" maxlength="128"
              required [(ngModel)]="question.option5" #option5Model="ngModel" #option5El />
            <abp-validation-summary [control]="option5Model" [controlEl]="option5El"></abp-validation-summary>
          </div>
        </div>

        <div class="col-md-4 form-group required">
          <label class="col-form-label fw-normal w-100" for="answer">
            {{ "Answer" | localize }}
          </label>
          <div>
            <input type="text" class="form-control" placeholder="Answer" name="answer" id="answer" maxlength="128"
              required [(ngModel)]="question.answer" #answerModel="ngModel" #answerEl />
            <abp-validation-summary [control]="answerModel" [controlEl]="answerEl"></abp-validation-summary>
          </div>
        </div>
      </div>
      <div class="form-group required position-relative">
        <label class="col-form-label fw-normal" for="explanations">
          {{ "Explanations" | localize }}
        </label>
        <div>
          <input type="text" class="form-control" placeholder="Explanations" name="explanations" id="explanations"
            required [(ngModel)]="question.explanations" #explanationsModel="ngModel" #explanationsEl />
          <abp-validation-summary [control]="explanationsModel" [controlEl]="explanationsEl"></abp-validation-summary>
        </div>
      </div>
     </div>
  </div>


  <abp-modal-footer [saveDisabled]="!createTenantForm.form.valid" (onCancelClick)="cancel()">
  </abp-modal-footer>
</form>