$primary: #319EAE;
$light-gray: #DBDBDB;


// .mock_qus .question_bck .mock_single_qus li {
//     padding: 5px 10px;
// }
.form-select {
    height: 42px;
    font-size: 12px;
    border-color: #ced4da;
    color: #929292;
}

.question {
    font-size: 14px !important;
    line-height: 19px;
    margin-bottom: 5px;
}

.question_option {
    font-size: 13px !important;
    color: #8b8b8b !important;
}

.cstm_chkbox:checked {
    accent-color: #17a2b8;
    background-color: #17a2b8 !important;
    border-color: #17a2b8;
    box-shadow: none;
}

.answer_type {
    font-size: 14px;
    margin-bottom: 6px;

}

.correct_answer {
    color: #63a361;
}

.incorrect_answer {
    color: #cd1805;
}

.answer_button {
    font-size: 13px;
    color: #5c5c5c;
    cursor: pointer;

    span {
        background-color: #ddd;
        padding: 2px 11px;
        border-radius: 20px;
    }
}

.scroll {
    overflow-y: scroll;
    background-color: #f7f7f794;
    border-radius: 10px;
    height: 60vh;
}

.solution_box {
    background-color: #62a36357;
    border-radius: 10px;

    .sol_text {
        font-size: 15px;
        font-weight: 500;
        color: #61a263;
    }

    .solution {
        font-size: 13px;
        color: black;
        word-break: break-all;
        overflow-y: scroll;
        max-height: 150px;

        &::-webkit-scrollbar-track {
            background-color: #62a36357;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #61a263;
            outline: none;
        }
    }
}

.student_cancel_btn {
    font-size: 12px;
    color: #343434;
    border: 1px solid #ddd;
    padding: 7px 21px;

    &:hover {
        background-color: #ddd;
    }
}

.quiz_bck {
    max-width: 100%;
    margin-bottom: -16px;

    .card-body {
        box-shadow: 0px 0px 12px #cfcfcf;
        border-radius: 6px;

        &:hover {
            border-radius: 6px;
        }

        &:hover {
            box-shadow: 0px 0px 23px #939393;
        }
    }


    .card_heading {
        font-size: 13px !important;
        font-weight: 500;
    }

    .view_btn {
        background-color: #319EAE;
        width: 33%;
        font-size: 13px;
        font-weight: 500;
        padding: 6px 0px;
    }
}