$primary: #319EAE;
$light-black: #262626;
$light-gray: #5E5E5E;
$light-border: #E9E9E9;
$red:#D94646;
$yellow:#DA9F2C;
$white:#ffffff;


.mock_qus {
    .question_bck {
        border: 1px solid #EFEFEF;
        border-radius: 16px;
        
        .question {
            color: $light-black;
            font-size: 15px;
            font-weight: 500;
        }

        .mock_single_qus {
            list-style: none;

            li {
                padding: 19px 10px;

                .question_option {
                    color: $light-gray;
                    font-size: 15px;
                    font-weight: 500;
                }
            }

        }


        .explation_box {
            border: 1px dashed #C9C17F;
            border-radius: 11px;

            .explation_heading {
                font-size: 20px;
                font-weight: 500;
            }

            .explation_pera {
                font-size: 15px;
                color: $light-gray;
                line-height: 28px;
            }
        }

        .bottm_btns {
            .border_btn {
                border: 1px solid $light-border;
                color: $light-gray;
                font-size: 12px;
                font-weight: 500;
                border-radius: 4px;
                padding: 7px 30px;
                border-radius: 4px;
            }

            .btn_nxt {
                background-color: $primary;
                font-size: 14px;
                font-weight: 500;
                border-radius: 4px;
                padding: 10px 40px;
            }

        }

        .rounded_text {
            list-style: none;

            p {
                color: $light-gray;
                font-size: 13px;

                .rounded_clr {
                    padding: 1px 10px;
                }

                .blue {
                    background-color: $primary;
                }

                .blank {
                    border: 1px solid #ddd;
                }

                .red {
                    background-color: #D94646;
                }

                .yellow {
                    background-color: #DA9F2C;
                }
            }
        }
    }

    .quant_bck{
         border: 1px solid #EFEFEF;
        border-radius: 16px 16px 0px 0px ;
    
        .quant_header{
            background-color: $primary;
            border-radius: 16px 16px 0px 0px;
            h3{
                font-size: 20px;
                font-weight: 500;
            }
        }
        .quant_numbers{
            .quant_num{
                border: 1px solid $light-border;
                color: $light-gray;
                border-radius: 4px;
                font-size: 12px;
                padding: 8px 16px;
                font-weight: 600;
            }
            .bg-yellow{
                background-color: $yellow !important;
                color: $white !important;
            }
            .bg-skyblue{
                background-color: $primary !important;
                color: $white !important;
            }
            .bg-red{
                background-color: $red !important;
                color: $white !important;
            }
        }
        .quant_footer{
            bottom: 0;
            background-color: #F6FFFE;
            border-top: 1px 1px solid $light-border;
            h2{
                font-size: 22px;
    font-weight: 600;
            }
        }
    }
}

@media screen and (max-width:767px) {
    .mock_qus{
        .quant_numbers{
            margin-bottom: 76px ;
        }
    }
}