::ng-deep.modal-content .modal-header{
    padding-bottom: 21px !important;
}
::ng-deep.p-treenode-icon{
    display: none;
}
@media screen and (max-width:767px) {
::ng-deep.modal-content .modal-header{
        padding-bottom: 0px !important;
    }
}